body {
    background: var(--primary-background-color);
    color: #000000;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.5px;
    line-height: 1.8;
    font-size: 62.5%;
    text-rendering: optimizeSpeed;
    overflow-x: hidden;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 100vh;
}

:root {
    --primary-background-color: #363732;

    --primary-h1-color: #dce1e9;
    --primary-h2-color: #dce1e9;

    --primary-p-color: #dce1e9;
    --secondary-p-color: #cdd3db;
    --prose-p-color: #783F8E;

    --primary-a-color: #e0c1e0;
    --primary-a-hover-color: #d07ee0;

    --menu_box-color: #363732;
    --blog_box-color: #999AC6;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.menu {
    display: flex;
    position: fixed;
    width: 25%;
    padding: 20px;
    margin-top: 20vh;
    margin-left: 15%;
    background-color: var(--menu_box-color);
    /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); */
}

.blog {
    width: 50%;
    margin-top: 20vh;
    margin-left: auto;
    margin-right: 10vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--primary-background-color);
}

.post {
    width: 90%;
    background-color: var(--blog_box-color);
    margin-bottom: 75px;
    margin-right: 30vw;
    border-radius: 4px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.post_card {
    margin: auto;
    padding: 25px;
    align-items: center;
    display: flex;

    flex-direction: column; 
}

.photo_haiku {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%

}

.photo {
    width: fit-content;

}

img.kyle_photo {
    width: 90%;
    max-width: 800px;
    height: auto;
}

figure {
    position: relative;
    margin: 0;
}

figcaption {
    position: absolute;
    bottom: 5px;
    left: 0;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    color: #333;
    font-size: calc(0.5rem + .2vw);
}

.haiku {
    margin-left: 2%;
    margin-right: 2%;
    max-width: 100%;
    align-items: center;
    text-align: center;
    
}

p.haiku_paragraph {
    font-size: calc(0.6rem + .4vw);
    color: var(--prose-p-color);
    padding: calc(0.5rem + .3vw);
    padding-top: 1rem;
    position: relative;
    line-height: 1.2;
}

/* .prose {
    width: 90%;
    text-align: center;
}

p.prose_paragraph {
    font-size: calc(0.5rem + .3vw);
    color: var(--prose-p-color);
    padding: 1rem;
    position: relative;
    line-height: 1.1;
} */

/* Rounded border */
hr.line {
    border-top: 1px solid #000000;
    border-radius: 3px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
}

.song_of_day {
    line-height: .5;
    align-items: end;
    text-align: center;
    padding: 1rem;
    position: relative;
}

span.song_header {
    font-size: calc(0.4rem + .5vw);
    color: var(--secondary-p-color);
    padding: 1rem;
    position: relative;
    line-height: .9;
    text-align: center;
}

p.song_paragraph {
    font-size: calc(0.5rem + .3vw);
    color: black;
    padding: 1.5rem;
    position: relative;
    line-height: 1;
}

a.song_title {
    font-size: calc(0.6rem + .4vw);
    color: var(--primary-a-color);
    line-height: 1;
    font-style: italic;
}

span.song_artist {
    font-size: calc(0.6rem + .4vw);
    color: var(--primary-a-color);
    line-height: 1;
}

h1 {
    font-size: calc(1rem + .7vw);
    color: var(--primary-h1-color);
    padding: 1rem;
    text-align: start;
}

h2 {
    font-size: calc(0.4rem + .6vw);
    color: var(--primary-h2-color);
    padding: 1rem;
    filter: blur(0.3px);
}

p {
    font-size: calc(0.7rem + .4vw);
    color: var(--primary-p-color);
    padding: 1rem;
    position: relative;
}

a {
    font-size: calc(0.6rem + .4vw);
    color: var(--primary-a-color);
    padding: .5rem;
    position: relative;
}

a:hover {
    color: var(--primary-a-hover-color);
    opacity: 95%;
    transition: 250ms ease-out;
}

@media(max-width: 900px) {
    html, body {
        overflow: hidden;
    }


.menu {
    display: flex;
    position: fixed;
    width: 25%;
    padding: 20px;
    margin-top: 20vh;
    margin-left: 15%;
    background-color: var(--menu_box-color);
    /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); */
}

.blog {
    width: 80%;
    margin-top: 1vh;
    margin-left: auto;
    margin-right: 5vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--primary-background-color);
    z-index: 5;
}

.post {
    width: 90%;
    background-color: var(--blog_box-color);
    margin-bottom: 75px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 4px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.post_card {
    margin: auto;
    padding: 10px;
    align-items: center;
    display: flex;

    flex-direction: column; 
}

.photo_haiku {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%

}

.photo {
    width: fit-content;

}

img.kyle_photo {
    width: 80%;
    max-width: 500px;
    height: auto;
}

figure {
    position: relative;
    margin: 0;
}

figcaption {
    position: absolute;
    bottom: 5px;
    left: 0;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    color: #333;
    font-size: calc(0.4rem + .1vw);
}

.haiku {
    margin-left: 5%;
    margin-right: 5%;
    max-width: 100%;
    align-items: center;
    text-align: center;
    
}

p.haiku_paragraph {
    font-size: calc(0.5rem + .1vw);
    color: var(--prose-p-color);
    padding: .5rem;
    padding-top: 1rem;
    position: relative;
    line-height: 1;
}

/* .prose {
    width: 90%;
    text-align: center;
}

p.prose_paragraph {
    font-size: calc(0.5rem + .3vw);
    color: var(--prose-p-color);
    padding: 1rem;
    position: relative;
    line-height: 1.1;
} */

/* Rounded border */
hr.line {
    border-top: 1px solid #000000;
    border-radius: 3px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
}

.song_of_day {
    line-height: .5;
    align-items: end;
    text-align: center;
    padding: 1rem;
    position: relative;
}

span.song_header {
    font-size: calc(0.4rem + .2vw);
    color: var(--secondary-p-color);
    padding: 1rem;
    position: relative;
    line-height: .9;
    text-align: center;
}

p.song_paragraph {
    font-size: calc(0.4rem + .1vw);
    color: black;
    padding: 1.5rem;
    position: relative;
    line-height: 1;
}

a.song_title {
    font-size: calc(0.5rem + .1vw);
    color: var(--primary-a-color);
    line-height: 1;
    font-style: italic;
}

span.song_artist {
    font-size: calc(0.5rem + .1vw);
    color: var(--primary-a-color);
    line-height: 1;
}

h1 {
    font-size: calc(1rem + .2vw);
    color: var(--primary-h1-color);
    padding: 1rem;
    text-align: start;
}

h2 {
    font-size: calc(0.4rem + .2vw);
    color: var(--primary-h2-color);
    padding: 1rem;
    filter: blur(0.3px);
}

p {
    font-size: calc(0.7rem + .2vw);
    color: var(--primary-p-color);
    padding: 1rem;
    position: relative;
}

a {
    font-size: calc(0.5rem + .1vw);
    color: var(--primary-a-color);
    padding: .5rem;
    position: relative;
}

a:hover {
    color: var(--primary-a-hover-color);
    opacity: 95%;
    transition: 250ms ease-out;
}

}
