body {
    background: var(--primary-background-color);
    color: #000000;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.5px;
    line-height: 1.8;
    font-size: 62.5%;
    text-rendering: optimizeSpeed;
    overflow-x: hidden;
    /* Hide horizontal scrollbar */
    margin: 0;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 100vh;
}


:root {
    --primary-background-color: #363732;

    --primary-h1-color: #dce1e9;
    --primary-h2-color: #dce1e9;
    --primary-p-color: #dce1e9;
    --discord-p-color: #dce1e9;
    --primary-a-color: #dce1e9;
    --primary-a-hover-color: #d07ee0;
    --credits_footer-p-color: #dce1e9;
    --credits_footer-a-color: #dce1e9;
    --credits_footer-a-hover-color: #dce1e9;

    --menu_box-color: #363732;
    --blog_box-color: #999AC6;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Style the menu on the left */
.menu {
    display: flex;
    position: fixed;
    
    width: 25%;
    padding: 20px;
    margin-top: 25vh;
    margin-left: 15%;
    background-color: var(--menu_box-color);
    padding: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    
}

.blog {
    width: 50%;
    padding: 20px;
    margin-top: 25vh;
    margin-left: auto;  /* Push the blog to the right */
    margin-right: 5vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--primary-background-color);
}


/* Style each individual blog post */
.post {
    width: 90%;
    height: fit-content;
    background-color: var(--blog_box-color);
    /* Adjust the background color as needed */
    margin-bottom: 75px;
    margin-right: 30vw;
    border-radius: 4px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.post_card {
    margin: auto;
    padding: 25px;
    columns: 200px 2;
}

.photo_poem {
    display: flex;
    align-items: center;

}

.photo {
    align-content: center; 
}

.photo_content {
    display: flex; /* Use flexbox to arrange elements */
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Align elements horizontally in the center */
}

img.kyle_photo {
    min-width: 150px;
    max-width: 100%;
    display: block;
}

img.kyle_photo::after {
    size: 11rem;
}

figure {
    position: relative;
    display: inline-block;  /* or 'block', depending on your needs */
    margin: 0;
}

figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px;  /* adjust as needed */
    background-color: rgba(255, 255, 255, 0.5); /* optional: add a semi-transparent background */
    color: #333; /* optional: change text color */
}

h1 {
    font-size: calc(1rem + .7vw);
    color: var(--primary-h1-color);
    padding: 1rem;
    text-align: start;
}

h2 {
    font-size: calc(0.8rem + .6vw);
    color: var(--primary-h2-color);
    padding: 1rem;

    filter: blur(0.3px);

}

p {
    font-size: calc(0.7rem + .4vw);
    color: var(--primary-p-color);
    padding: 1rem;
    position: relative;
}

a {
    font-size: calc(0.6rem + .4vw);
    color: var(--primary-a-color);
    padding: .5rem;
    position: relative;
}

a:hover {
    font-size: calc(0.6rem + .4vw);
    color: var(--primary-a-hover-color);
    opacity: 95%;
    padding: .5rem;
    transition: 250ms ease-out;
}










/* SMALL SCREEN */

@media(max-width: 900px) {

    html,
    body {
        overflow: hidden;
    }

    h1 {
        font-size: calc(1rem + .2vw);
        color: var(--primary-h1-color);
        padding: .5rem;
        text-align: start;
    }

    h2 {
        font-size: calc(0.8rem + .2vw);
        color: var(--primary-h2-color);
        padding: .5rem;

    }

    p {
        font-size: calc(0.7rem + .1vw);
        color: var(--primary-p-color);
        padding: .5rem;
        position: relative;
        letter-spacing: .25px;
    }

    a {
        font-size: calc(0.6rem + .1vw);
        color: var(--primary-a-color);
        padding: .3rem;
        letter-spacing: 0.2px;
    }

}